[2018-05-29 15:26] amitbravo opened #1 "Is this for Android only ?"
Is this for Android only ? and Is this a wrapper around payumoney android SDK ?

[2018-05-31 08:33] Suraj-Tiwari commented on #1
Yes for now.. I'll work on IOS version too.

[2018-06-16 13:22] amitbravo commented on #1
When we can expect for iOS, just wondering.

[2018-06-25 17:18] Suraj-Tiwari commented on #1
Well, Due to my hell busy schedules i can't manage time for ios Module ATM. All PR's are welcome

[2018-07-15 14:00] krunalFlexiLoans opened #2 "TypeError:Cannot read property 'makePayment' of undefined"
Hi,

Getting error on PayuMoney.pay() method. Please help

[2018-07-15 18:40] suraj-epsumlabs opened #3 "Unable to use this package"

[2018-07-16 17:11] #3 closed

[2018-07-20 04:49] i-suraj commented on #2
Am too getting this error, it automatically goes inside catch block and gives error

{Success:false}

[2018-08-01 13:10] DV31 commented on #2
facing the same issue will u please give some solution @Suraj-Tiwari .

[2018-08-01 15:57] Suraj-Tiwari commented on #2
Make sure to check your hash.
[code]
and this data too, check logs for transferred value or post log while making payment issue

[2018-08-01 16:00] #1 closed

[2018-08-01 17:47] Suraj-Tiwari commented on #2
@DV31  @suraj-epsumlabs @krunalFlexiLoans
I did a small workaround and i faced this issue when i tried to use package without running

after that everything worked fine

try this code after linking

[code]

PHP code
[code]

### **_Confirm If issue is resolved_**

[2018-08-02 10:01] DV31 commented on #2
Thank you @Suraj-Tiwari now its working fine.

[2018-08-02 12:36] #2 closed

[2018-08-12 11:40] suraj-epsumlabs opened #6 "error {success: false}"
i tried many times still getting this error...
**{success: false}**

my option parameters are as follows:-
[code]

my salt is  rwsdJ8ZkJw

[2018-08-12 13:18] Suraj-Tiwari commented on #6
That hash is manually defined.. if you want to test it with your data create hash using this php function and replace data accordingly

[code]

[2018-08-12 13:27] Suraj-Tiwari commented on #6
To know how payumoney works have a look at
[PayuMoney Docs](https://developer.payumoney.com/android/) and check (**_Integration reference_**)

[2018-08-12 13:39] Suraj-Tiwari commented on #6
I checked your code and found following issues

- Amount is an intiger, Must be a double ( example 1.0 ).
- I think you are using production keys so set **sandbox:false**

I tried your credentials in this function
[code]
and I got
`de7f81c1c972272beea1b091d75a92556a9726b9e6118deb3e9de2ee410f0c9a11ff41d9902b92b1d2868730e467472bd69f1709a6c10c12e064d09419be8697`

this is different from your hash
[tes

[2018-08-12 18:30] rrakesh100 commented on #2
<img width="991" alt="screen shot 2018-08-12 at 11 58 46 pm" src="https://user-images.githubusercontent.com/4667181/44005128-d36b31e4-9e8b-11e8-98b6-0e678a37773c.png">
<img width="1100" alt="screen shot 2018-08-12 at 11 59 10 pm" src="https://user-images.githubusercontent.com/4667181/44005129-d393421a-9e8b-11e8-9143-131e2e0dacb2.png">

Facing the same issue. Uploaded my source code and the output.

[2018-08-12 19:02] rrakesh100 commented on #2
<img width="536" alt="screen shot 2018-08-13 at 12 31 27 am" src="https://user-images.githubusercontent.com/4667181/44005394-5db65d48-9e90-11e8-828e-6ffa72f64116.png">

[2018-08-13 11:10] Suraj-Tiwari commented on #2
@rrakesh100  have you tried `react-native link react-native-payumoney` after installing from npm?

[2018-08-13 15:41] rrakesh100 commented on #2
@Suraj-Tiwari  - Hi Suraj . Yes I did try

[2018-08-13 15:45] Suraj-Tiwari commented on #6
Due to inactivity closing this issue

[2018-08-13 15:45] #6 closed

[2018-08-13 15:51] Suraj-Tiwari commented on #2
Please post the MainActivity.java code here

[2018-08-13 15:55] rrakesh100 commented on #2
import android.app.Application;

import com.facebook.react.ReactApplication;
import superinfotech.suraj.reactnativepayumoney.PayumoneyPackage;
import com.facebook.react.ReactNativeHost;
import com.facebook.react.ReactPackage;
import com.facebook.react.shell.MainReactPackage;
import com.facebook.soloader.SoLoader;

import java.util.Arrays;
import java.util.List;

public class MainApplication extend

[2018-08-13 15:55] rrakesh100 commented on #2
package com.incredibles;

import com.facebook.react.ReactActivity;

public class MainActivity extends ReactActivity {

    /**
     * Returns the name of the main component registered from JavaScript.
     * This is used to schedule rendering of the component.
     */
    @Override
    protected String getMainComponentName() {
        return "XXXX";
    }
}

[2018-08-13 15:55] rrakesh100 commented on #2
import com.facebook.react.ReactActivity;

public class MainActivity extends ReactActivity {

/**
 * Returns the name of the main component registered from JavaScript.
 * This is used to schedule rendering of the component.
 */
@Override
protected String getMainComponentName() {
    return "XXXX";
}
}

[2018-08-13 16:04] Suraj-Tiwari commented on #2
have you seen this issue [https://github.com/Suraj-Tiwari/react-native-payumoney/issues/3](https://github.com/Suraj-Tiwari/react-native-payumoney/issues/3)

[2018-08-13 16:05] Suraj-Tiwari commented on #2
[code]

[2018-08-13 16:07] Suraj-Tiwari commented on #2
https://github.com/Suraj-Tiwari/react-native-payumoney/blob/d905ca5695321140470e015df7e802efc9b49319/example/android/app/build.gradle#L140

like this

and this
https://github.com/Suraj-Tiwari/react-native-payumoney/blob/d905ca5695321140470e015df7e802efc9b49319/example/android/settings.gradle#L2

and also did you reinstall the app after linking? without reinstalling it wont work. `react-native run-

[2018-08-13 16:24] rrakesh100 commented on #2
<img width="1011" alt="screen shot 2018-08-13 at 9 54 07 pm" src="https://user-images.githubusercontent.com/4667181/44044533-75f32176-9f43-11e8-8972-70f228b69276.png">

[2018-08-13 16:25] rrakesh100 commented on #2
<img width="913" alt="screen shot 2018-08-13 at 9 46 42 pm" src="https://user-images.githubusercontent.com/4667181/44044548-87222280-9f43-11e8-9a41-b62da1be7c7a.png">

[2018-08-13 16:25] Suraj-Tiwari commented on #2
Reinstalled the app after linking?

[2018-08-13 16:26] rrakesh100 commented on #2
i did ran react-native run-android...but to test in my emulator i am running react-native-scripts start. it doesnt work

[2018-08-13 16:27] Suraj-Tiwari commented on #2
No you have to reinstall for emulator too
`react-native start` and `react-native run-android` both are different things

[2018-08-13 17:46] rrakesh100 commented on #2
I was using expo...so I generated APK to see. I still get the same issue

[2018-08-13 17:47] rrakesh100 commented on #2
I was using expo...so I generated APK to see. I still get the same issue

[2018-08-13 18:17] Suraj-Tiwari commented on #2
Sorry this library isn't for expo this is a native module, expo doesn't support native module

[2018-08-18 14:12] rrakesh100 commented on #2
Thanks @Suraj-Tiwari   I ejected the app from expo and it works !! Do you plan to add  support for iOS as well

[2018-08-18 14:19] Suraj-Tiwari commented on #2
@rrakesh100 I'm currently working on this [React-native-ads-facebook](https://github.com/Suraj-Tiwari/react-native-ads-facebook) as there is no librrary that exist for facebook ads (old one doesn't follow facebook guidelines even fb ads sdk provided by expo doesn't follow complete guidelines).
So i'm working on it as for now.

[2018-08-18 14:20] Suraj-Tiwari commented on #2
But Hope i'll work on it in future

[2018-09-06 02:30] rrakesh100 commented on #2
Hi Suraj,

Just wanted to check if you will support on iOS too to make this project complete. Unfortunately I am new to native app development so cannot contribute, else I would have loved to contribute.

Thank you

[2018-10-15 07:44] naveenvignesh5 opened #7 "Getting Error Toast Some error occured, success: false"
**My PHP Code**

[code]

**React Native Module**

[code]

[2018-10-22 14:08] vijay2330 commented on #7
I am also facing this error? Is any thing need to be updated ?

[2018-10-22 15:49] vijay2330 commented on #7
@naveenvignesh5  bro did u find the solution for this?

[2018-10-22 17:34] Suraj-Tiwari commented on #7
Do you have test credentials? or using one provided from payumoney dashboard.

[2018-10-22 17:34] Suraj-Tiwari commented on #7
please try with there credentials
[https://github.com/Suraj-Tiwari/react-native-payumoney/issues/2#issuecomment-409661804](https://github.com/Suraj-Tiwari/react-native-payumoney/issues/2#issuecomment-409661804)

[2018-10-22 17:48] Suraj-Tiwari commented on #7
// are you sure about this? this snippet in your comment looks invalid.

[code]

[2018-10-23 05:05] naveenvignesh5 commented on #7
That is es6 notation. I wrote it like that to avoid lint. I tried with the way you told me. Still I am getting this error.

@Suraj-Tiwari your custom options seems to be working where hardcoded hash is present but not my sandbox credentials.

@vijay2330 No I was not able to find a solution.

[2018-10-23 05:08] vijay2330 commented on #7
@Suraj-Tiwari  i tried ur options code... it is working now.... let me confirm once by adding my own credentials from dashboard

[2018-10-23 07:08] vijay2330 commented on #7
@Suraj-Tiwari  Using my own credentials is not working.... But using the test credentials... app works perfectly.I got the credentials from dashboard

@naveenvignesh5 own credentials is not working as u mentioned

[2018-10-23 08:34] Suraj-Tiwari commented on #7
Because those credentials are for web testing.
For android you have to ask them.

 set Sandbox:false to test out with your credentials in production.

[2018-10-23 09:39] vijay2330 commented on #7
I asked payumoney about this..... They replied as below...

Please change the dependency to the below as:
compile 'com.payumoney.sdkui:plug-n-play:1.4.4’

Will it work for the linked react-native module

[2018-10-23 09:52] vijay2330 commented on #7
By adding compile 'com.payumoney.sdkui:plug-n-play:1.4.4’ ... Clicking on Make payment button closes the app

[2018-10-23 10:07] Suraj-Tiwari commented on #7
You don't have to change dependency. If
You can simply proceed with my test credentials set Sandbox to false and
check it for production.

[2018-10-23 10:17] vijay2330 commented on #7
@Suraj-Tiwari  its not working..... Changing sandbox to false throws same error....

[2018-10-23 18:28] Suraj-Tiwari commented on #7
@vijay2330 @naveenvignesh5  confirm if you have approval.

[code]

this is the data (in json format) i'm passing to sdk in app generated on server. (Production app)

[2018-10-24 06:42] vijay2330 commented on #7
@Suraj-Tiwari can u please explain about surl and furl and what url need to point this.

[2018-10-24 07:09] Suraj-Tiwari commented on #7
in my Case both of them are pointing to hash generating link

[2018-10-24 07:21] vijay2330 commented on #7
@Suraj-Tiwari  My backend php file url is http://192.168.1.72/sanjai_nidhi_backend/api.php... In this endpoint only the hash making process is executing...... I tried to give this url in both surl and furl but same error is throwing

[2018-10-24 08:08] Suraj-Tiwari commented on #7
try checking logs in logcat.

[2018-10-31 12:40] akshay1293 opened #10 "com.android.support:support-v4 version Issue"
I think this issue is related to compatibility with RN 0.57

Iam using React native 0.57.4
Gradle - 3.1.4
react - 16.6.0-alpha.8af6728

Please provide support for RN 0.57

I am getting this error while building App

Android dependency 'com.android.support:support-v4' has different version for the compile (23.2.1) and runtime (26.1.0) classpath. You should manually set the same version via Dependen

[2018-10-31 13:55] maac4422 commented on #10
@akshay1293 What is your compile SDK?

[2018-10-31 18:11] akshay1293 commented on #10
@Suraj-Tiwari

here
buildToolsVersion = "27.0.3"
        minSdkVersion = 16
        compileSdkVersion = 27
        targetSdkVersion = 26
        supportLibVersion = "27.1.1"

If I remove react-native-payumoney and then build again then everything works fine.

[2018-10-31 18:58] maac4422 commented on #10
@akshay1293  Try change inside your **App Level Gradle File**

`implementation (project(':react-native-payumoney'))`
to

[code]

[2018-10-31 23:23] Suraj-Tiwari commented on #7
#closing due to inactivity

[2018-10-31 23:23] #7 closed

[2018-10-31 23:28] Suraj-Tiwari commented on #10
@akshay1293 if you still have issue please share the output of `./gradlew app:dependencies`

[2018-11-01 05:03] akshay1293 commented on #10
@maac4422    Doing this results in below error.

     /home/.gradle/caches/transforms-1/files-1.1/appcompat-v7-
     27.1.1.aar/f57ff26f0e1f39643fb1b36e9f7f53d2/res/values/values.xml:251:5-69: AAPT: error: resource
     android:attr/ttcIndex not found.

These are the dependencies.
[code]
@Suraj-Tiwari  And do you want me to post whole output of ./gradlew app:dependencies?

[2018-11-02 16:15] maac4422 commented on #10
@akshay1293 try with this

`implementation "com.android.support:exifinterface:${rootProject.ext.supportLibVersion}"
  implementation "com.android.support:support-annotations:${rootProject.ext.supportLibVersion}"
  implementation "com.android.support:support-v4:${rootProject.ext.supportLibVersion}"`

[2018-11-05 17:44] ram4git opened #11 "[WIP] iOS support for payumoney"
This library already has android support that is tested and working. To make it a **complete** react-native library, it would be awesome if the missing iOS support is also added.

Just the right wrapper around the native module with bridge to work just how awesomely it works with android

[2018-11-07 04:54] rrakesh100 commented on #11
+1

[2018-11-27 16:00] Gvinod1991 opened #13 "Upgrade dependency to compile:com.payumoney.sdkui:plug-n-play:1.4.4"
**Feature request related to a problem is described below**
Now sdkui:plug-n-play:1.0.0 is the dependency in this package.I have tested this package by integrating in react native app.In my app card payments not working and in net banking option some banks like SBI throwing the error even after payment successfully done.

**Solution to the problem**
Upgrade the dependency sdkui:plug-n-play:1.0.0 t

[2018-11-27 16:38] Suraj-Tiwari commented on #13
Thanks for reporting the issue. I'll have a look at it.

[2018-11-29 05:18] Gvinod1991 commented on #13
Can you help me to fix the problem @Suraj-Tiwari. As i am js developer, don't have deep knowledge in native android app development. If you share some knowledge to solve the problem i will try to fix it.

[2018-12-03 18:51] Suraj-Tiwari commented on #11
IOS Support added (Still in dev mode) check ios branch

// IOS test credentials are
Merchant Key = "mdyCKV"
Merchant ID = "4914106"
Merchant Salt = "Je7q3652"

// These are the test card credentials.
Card No - 5123456789012346
Expiry - 05/2020
CVV - 123

[2018-12-05 07:15] Gvinod1991 commented on #13
I have used alternate way to integrate payment gateway is that wrap web app payment system in webView of react native.

[2018-12-05 07:15] #13 closed

[2018-12-05 07:20] Suraj-Tiwari commented on #13
Good, but web payment is against Google Policy i guess

[2018-12-06 08:52] Suryanandsingh opened #14 "Is this payment gateway support react-native with expo?"
Hi @Suraj-Tiwari  and @greenkeeper[bot] can you advice me this payment gateway support with react-native using expo?

[2018-12-06 09:19] Suraj-Tiwari commented on #14
You have to exit app from expo to use this payment gateway

[2019-02-04 02:45] mkssankar1 commented on #2
@Suraj-Tiwari I try to install react-native-payumoney package, but not get successful.  Build returns below error always. Please give suggestion for this.
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:transformClassesWithMultidexlistForDebug'.

[2019-02-21 18:20] zesu00 commented on #6
I have tried everything, but it still give me the error message {"success":false}

[2019-02-23 10:53] i-suraj commented on #6
I had same issue but i was able to solve this just by setting the amount to as
`let amount= parseFloat("10");
`
The issue is with data type. This solution worked for me. Hope this will help you.

[2019-03-12 21:03] esoftel commented on #2
AILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':react-native-payumoney'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/build/gradle/3.2.1/gradle-3.2.1.pom
         https://jcenter.bintray.com/com/android/tools/build/gradle/3.2.1/gradle-3.2.1.jar
     Required by:
         project :react-native-

[2019-03-13 01:38] Suraj-Tiwari commented on #2
Match gradle version with your app gradle version. That will resolve the
issue.

[2019-03-15 17:45] esoftel commented on #2
Hi Suraj,

My app getting crash while calling PayuMoney.pay(options).
Please help me on this.

[2019-03-18 17:33] esoftel commented on #2
Getting below error make release apk please help me on this.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-payumoney:verifyReleaseResources'.

  /home/raj/AnsAppRevWithAPI/AnsAppWithAPI/node_modules/react-native-payumoney/android/build/intermediates/res/merged/release/values/values.xml:3537: error: duplicate value for resource 'attr/layout_a

[2019-04-15 13:02] romit07 opened #15 "What's the status for the iOS support?"

[2019-04-15 13:48] Suraj-Tiwari commented on #15
Please check Ios branch that's done,
Need some improvement but i don't have enough time for now.

[2019-04-15 14:11] romit07 commented on #15
Is there any known issue there? what improvements you mentioned so that I can go through it

[2019-04-15 14:35] Suraj-Tiwari commented on #15
Currently Hash is calculated in app,
Make it direct that's it.

[2019-04-16 16:29] esoftel commented on #2
Hi Suraj,

While i'm trying to process payment getting some error occured.
Please suggest

[2019-04-16 16:35] Suraj-Tiwari commented on #2
Issue seems to be related to gradle in production build,
payment failed could be occurring due to hash, or invalid params. keep a
look on amount that cause trouble during hash calculation

[2019-04-16 16:50] esoftel commented on #2
This payumoney packge gradle classpath
'com.android.tools.build:gradle:1.3.1'
and my app gradle classpath 'com.android.tools.build:gradle:3.3.1'

On Tue, 16 Apr 2019 at 22:05, Suraj Tiwari <notifications@github.com> wrote:

[2019-04-16 16:52] esoftel commented on #2
This is my code

async payment(){
    let auth = await AsyncStorage.getItem('Auth');
    let parsedAuth = JSON.parse(auth);
    let amount = 1;
    let txid = new Date().getTime()+"";
    let productId = "product101";
    let name = "Manju";
    let email = "manjuv4477@gmail.com";
    let phone = "9643057375";
    let surl = "https://www.payumoney.com/mobileapp/payumoney/success.php";
//can be dif

[2019-04-16 16:55] esoftel commented on #2
Payu sdk which is using in your npm package

com.payumoney.sdkui:plug-n-play:1.0.0'

On Tue, 16 Apr 2019 at 22:21, Ace Engineers <esoftel.com@gmail.com> wrote:

[2019-04-16 17:42] Suraj-Tiwari commented on #2
they might have updated the sdk version,

[2019-04-17 06:55] rajnikantv94 commented on #2
can i use latest sdk which is com.payumoney.sdkui:plug-n-play:1.5.0'.
please suggest

[2019-04-17 10:58] rajnikantv94 commented on #2
Hi Suraj,

Getting below error while using payu plug and play 1.5.0

Execution failed for task ':app:processDebugResources'.

  /home/pytech/.gradle/caches/transforms-1/files-1.1/plug-n-play-1.5.0.aar/adcf9b8a0d486522a6f5ff76ce3538a4/res/layout/fragment_validate_wallet.xml:8: AAPT: error: resource string/verified_by_visa_image (aka com.ansapp:string/verified_by_visa_image) not found.

  /home/pyte

[2019-04-18 10:10] indranildutta06 commented on #10
If you are having the same problem still now then change the compileSdkVersion to 28 and targetSdkVersion to 28 too. BuildToolVersion can be 28.0.2

[2019-04-25 04:46] appsleal opened #16 "{ success: false } error"
web calculating hash
![Captura de pantalla (24)](https://user-images.githubusercontent.com/49653660/56710332-35f35d00-66eb-11e9-86f5-b0106455c474.png)

[2019-04-25 06:29] Suraj-Tiwari commented on #16
Make sure your hash is calculated correctly.
for this check logcat and find hash and match it with your hash.

[2019-04-25 19:31] appsleal commented on #16
@Suraj-Tiwari  It's strange when I use your example data, I execute perfectly, but when I put my account information, it returns error

[2019-04-25 21:02] Suraj-Tiwari commented on #16
Issue could be related to hash calculation, also check amount data type and
value,
that create issue too.

[2019-04-26 01:16] appsleal commented on #16
it does not make sense because I use the same data just change the account info with your test works with mine does not work

[2019-04-26 07:16] Suraj-Tiwari commented on #16
is that in debug or production?
Because credentials provided in dashboard doesn't work for debug ang they
will throw an error

[2019-05-23 06:59] #14 closed

[2019-06-18 06:59] saurabh-nandan opened #17 "Native module cannot be null"
**Describe the bug**
I am using payumoney for react native app. I have installed this library but couldnot able to sucessfully execute due to an error "Native module cannot be null"

i am working on this environment:-
    "react": "16.8.3",
    "react-native": "0.59.9",
    "react-native-payumoney": "0.0.3"

Please resolve this issue asap i am stuck with it.

PFA for the references.
Thanks.

![Sim

[2019-07-08 10:57] ankitnb commented on #17
Hey, did you get resolved this issue in iOS? I am having the same issue.

[2019-07-08 11:04] Suraj-Tiwari commented on #17
for ios please install module from github repo
then run react-native link react-native-payumoney

[2019-07-08 11:39] ankitnb commented on #17
I installed with these steps:
1) $ npm i react-native-payumoney --save
2) $ react-native link react-native-payumoney

what I have to install else?

[2019-07-08 11:41] Suraj-Tiwari commented on #17
change step 1 to
npm i {repo link}

[2019-07-08 11:45] ankitnb commented on #17
which repo link? of iOS ?
can you please describe me in detail?

[2019-07-08 11:47] Suraj-Tiwari commented on #17
This github repo link

[2019-07-08 11:56] ankitnb commented on #17
I installed with,
`npm i https://github.com/Suraj-Tiwari/react-native-payumoney.git`

but still I face same issue.

[2019-07-08 11:58] Suraj-Tiwari commented on #17
link again

[2019-07-08 12:08] ankitnb commented on #17
Linked but getting errors in iOS code, do I have to replace any code for iOS files?
![Screen Shot 2019-07-08 at 5 37 04 PM](https://user-images.githubusercontent.com/52659109/60808949-1aa2d480-a1a7-11e9-9c3b-27d4ead786c3.png)

[2019-07-08 12:32] ankitnb commented on #17
Can you please send me `react-native-payumoney` folder from `node modules` ? because I am getting errors for iOS code, I tried with inserting iOS frameworks but still It is not correcting.

[2019-07-17 06:01] vishnujnv15 commented on #16
@appsleal  how did you solve this issue

[2019-07-29 08:41] ankitnb commented on #17
Suraj, Does it require to add Frameworks from Native SDK for iOS ? Because I am getting above errors for iOS Code.

[2019-07-30 09:05] ankitnb commented on #17
Guys, I found solution of it.
After installing `pod 'PayUmoney_PnP'` pods, it worked for me.

[2019-08-08 09:13] #16 closed

[2019-08-08 09:14] Suraj-Tiwari commented on #15
Closed due to inactivity

[2019-08-08 09:14] Suraj-Tiwari commented on #15
Closed due to inactivity

[2019-08-08 09:14] #15 closed

[2019-08-08 09:14] #11 closed

[2019-08-08 09:14] Suraj-Tiwari commented on #10
Closed due to inactivity

[2019-08-08 09:14] #10 closed

[2019-08-11 07:15] jrsarath opened #21 "GLOBAL SANDBOX ID,KEY,SALT (CONFIG DETAILS)"
So, my test + live Merchant key & salt is identically same,
Payu payment interface does open while using sandbox: false,
when using sandbox: false it closes with Some error occurred toast

[2019-08-11 07:55] Suraj-Tiwari commented on #21
for sandbox please write email to payumoney and ask for test credentials.
Production credentials doesn't work in sandbox environment.

[2019-08-11 08:10] jrsarath commented on #21
I solved it, thank you.
Using Global Test Details from PayU
I'll put it here for further usage
You can also use it in the docs for reference.

MID : 4934580
Key : rjQUPktU
Salt : e5iIg1jwi8

Below is the test card details for doing a test transaction in the testing mode.

Card No - 5123456789012346
Expiry - 05/2020
CVV - 123
Name - Test

[2019-08-11 08:12] jrsarath commented on #21
The next thing is can i customize colors on the SDK pages ? like the header colors and text colors stuffs ?

[2019-08-11 08:34] Suraj-Tiwari commented on #21
I don't get sufficient time to add this level of features. If you can
contribute all PR's are welcome

On Sun, Aug 11, 2019 at 1:42 PM Jr Sarath <notifications@github.com> wrote:

--
*Kind Regards*
*Suraj Tiwari*
CTO: www.superinfotech.com.au
This email contains confidential information only to be used by Suraj
Tiwari and should be read by only those persons to whom it is addressed.No
confidential

[2019-08-11 09:44] jrsarath commented on #21
well i was thinking more of hard coded ui changes, little guide about files would definitely help

[2019-08-11 19:25] jrsarath commented on #21
Nevermind, i changed colors using custom styles. thank you

[2019-08-11 19:25] #21 closed

[2019-08-20 00:36] jrsarath opened #24 "SDK crashes on Android 9 API_28"
Trying the app on a Android One Real device and on a Emulator, Android 9 API_28
Here is the log from android studio

=========================================================

2019-08-20 06:03:00.791 9314-9314/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.gamesetter, PID: 9314
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.gamesetter/com.payumoney.sdkui.ui.

[2019-08-20 01:16] jrsarath commented on #24
`<uses-library android:name="org.apache.http.legacy" android:required="false"/>`
on manifest fixed the issue

[2019-08-20 01:16] #24 closed

[2019-08-20 01:47] jrsarath commented on #17
Please close this issue if resolved

[2019-08-21 19:20] #17 closed

[2019-08-22 09:53] 14012920 commented on #2
Hello  Suraj,

I am using react-native-payumoney in My app It is getting crash while calling PayuMoney.pay(options).
Please help me on this.

[2019-08-22 09:57] 14012920 commented on #2
`/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 *
 * @format
 * @flow
 */

import React, {Component} from 'react';
import {
  SafeAreaView,
  StyleSheet,
  ScrollView,
  View,
  Text,Button,
  StatusBar,Dimensions
} from 'react-native';

import PayuMoney from 'react-native-payumoney';

const deviceHeight = Dimensions.get('window').height;
const deviceWidth = Dimensions

[2019-09-24 05:01] srichallamalla935 opened #26 "Getting error native module cannot be null while installing with pods(pod 'PayUmoney_PnP') in IOS"
Installing the react-native-payu module using pods `(pod 'PayUmoney_PnP')`  and after that i kept import statement  but  i am facing **native module cannot be null**  error

### Versions
react-native :-0.60.5
 react-native-payu:-0.0.3

### ScreenShot
![Simulator Screen Shot - iPhone 5s - 2019-09-24 at 10 23 32](https://user-images.githubusercontent.com/45194188/65482347-63208300-deb6-11e9-979b-ddc

[2019-09-24 06:13] Suraj-Tiwari commented on #26
Hi,
It looks like you're using it from NPM,
Please note IOS is completely expiremental for now, you can directly
install it from github repo.

[2019-09-24 06:21] srichallamalla935 commented on #2
It  is working fine. But this is not working when changing the amount

[2019-09-24 07:13] Harikasai999 commented on #26
I installed with this npm `npm i https://github.com/Suraj-Tiwari/react-native-payumoney.git` in react-native 0.60.5. But i am facing same issue **native module cannot be null**.

[2019-09-30 06:28] ashu777 commented on #2
unable to generate hash.It shows some error occured.

[2019-10-05 08:20] Anujmoglix opened #29 "Getting issue in RN 0.59"
Task :react-native-payumoney:compileDebugJavaWithJavac FAILED
node_modules/react-native-payumoney/android/src/main/java/superinfotech/suraj/reactnativepayumoney/PayumoneyModule.java:9: error: package android.support.v7.app does not exist
import android.support.v7.app.AppCompatActivit

[2019-10-11 09:24] ashu777 opened #30 "some error occured"
i integrated react-native-payumoney as per your instructions. i am able to generate hash.After generating hash it shows some error occured and success:false in log. it is integrated to a website and working fine but in case of android i used your library it is not working if i use the hash, marchant key and id you provided it works but my credentials are not working.

[2019-10-11 16:15] Suraj-Tiwari commented on #30
if your credentials aren't working and test credentials are working. Then,
there might be some other issue, please share logs from logcat.

[2019-10-12 04:35] ashu777 commented on #30
amount: 99.9
email: "test@gmail.com"
furl: "https://www.example.com/payu-validate.php"
hash: "a87a2d1f4ca0f8805be903d6965b832724b7ef41d2cb1bd805c3ea5c378ea3d8d5cafee0a66d227f3339857c9152301432f5705725bfd03c4cb1fce7248b0930"
id: "xxxxxxx"
key: "xxxxxxx"
name: "AD"
phone: "7894123489"
productId: "123"
sandbox: true
surl: "https://www.example.com/payu-validate.php"
txid: "545446545"

success: false

[2019-10-12 04:40] ashu777 commented on #30
I am getting the above while i  log the options  in console .

[2019-10-16 07:12] Benzen8 commented on #26
still facing the same issue also after the pod 'PayUmoney_PnP', adding path to the `pod 'PayUmoney_PnP', :path => "../node_modules/react-native-payumoney/"` and the pod spec file is required.

[2019-10-16 08:23] manubodhi commented on #6
passing this float amount is not working for whole numbers, we have to pass transactions like 10 rupees 100 rupees and all, this will send as 10 only and causing issue taking it as integer and crashing the SDK.

[2019-10-16 10:12] Anujmoglix opened #31 "issue in installing"
HI ,
  I am getting following issue after installing and linking the project

[2019-10-16 10:14] Anujmoglix commented on #29
Is anyone handling this repo?

[2019-10-25 11:58] rizwan92 opened #32 "facing the android manifest application attribute problem"
[code]

i tried add this line in manifiest
[code]
and this line in application
` tools:replace="android:allowBackup">`

facing this problem
[code]

[2019-12-06 18:02] Pawanjot3015 commented on #17
not working for me
still facing Use of undeclared identifier PUMTxnParam

[2019-12-07 06:39] Pawanjot3015 opened #33 "Use of undeclared identifier PUMTxnParam"

[2020-02-13 02:29] basilbthoppil opened #34 "App crashing on sandbox:true"
Payment flow is working fine with sandbox:false,

whenever the sandbox:true the app crashes without any specific error in adb log

Tried with parameters in example app, in the same repo. still fails.

`let options = {
            amount: "10.0",
            txid: "123123123" ,
            productId: "test",
            name: "Name",
            email: "test@gmail.com",
            phone: "88263434

[2020-03-15 08:07] Lakshmi-Narasimha commented on #2
How to generate hash using node js express js

[2020-04-13 13:36] hibittushah opened #35 "Android resource linking failed"
Please anyone know about this how to resolve this

     C:\Users\username\.gradle\caches\transforms-2\files-2.1\5a0aebce116225012ffd37f82b441a81\jetified-magicretry-1.0.5\res\layout-v11\magicretry_fragment.xml:131: AAPT: error: resource android:attr/android:progressBarStyleSmall not found.

[2020-04-13 13:37] hibittushah commented on #34
Hey Can you please look into this .I am getting this issue when i am running in my physical device
Android resource linking failed
     C:\Users\username\.gradle\caches\transforms-2\files-2.1\5a0aebce116225012ffd37f82b441a81\jetified-magicretry-1.0.5\res\layout-v11\magicretry_fragment.xml:131: AAPT: error: resource android:attr/android:progressBarStyleSmall
not found.

[2020-04-13 13:38] hibittushah commented on #33
Hey Can you please look into this .I am getting this issue when i am running in my physical device
Android resource linking failed
C:\Users\username.gradle\caches\transforms-2\files-2.1\5a0aebce116225012ffd37f82b441a81\jetified-magicretry-1.0.5\res\layout-v11\magicretry_fragment.xml:131: AAPT: error: resource android:attr/android:progressBarStyleSmall
not found.

[2020-05-11 13:39] Ritesh175862 commented on #29
just replay this line with this import androidx.appcompat.app.AppCompatActivity;

[2020-05-27 17:09] vgvishal538 commented on #30
@ashu777 @Suraj-Tiwari did you guy finds any solution for this issue?

[2020-06-09 05:25] Shaileshr777 opened #36 "When click on payment button got this error"
**PAYU_PAYMENT_FAILED{error:true}**

This is my code
fetch('http://115.124.127.118/~devfds/covid19_app_api/hash.php', {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        key: key,
        txnid: txid,
        amount: amount,
        productinfo: productId,
        firstname: name,
        e

[2020-06-09 05:37] Shaileshr777 commented on #36
Getting toast message 'Some error occur'

[2020-07-08 20:33] cybermaskssoftware commented on #2
how i pass Rs:10 into double in react native
because if i pass "10.0" || 10.0 ||10.00
got an error , the error is java.lang.Double cannot be cast to java.lang.String,
how do i resolve this issue

And This is my code
try {
            this.setState({amount : 300});
            let myHeaders = new Headers();
            myHeaders.append();

            let urlencoded = JSON.stringify({

[2020-07-09 09:20] cybermaskssoftware opened #37 "String Cannot be cast to Double"
when i push options into   PayuMoney.pay go this error ,
please tell me how do i resolve this ,
i am stuck here, last two weeks ,
i try many of ways
1) convert amount into string
2) convert amount into amount.toFixed(2)
nothing happen
if i try as a string it shows "java.lang.String cannot be cast to java.lang.Double"
if i use amount as amount.toFixed(2) "java.lang.Doubecannot be cast to java.lang.

[2020-07-10 07:41] cybermaskssoftware commented on #2
java.lang.NoSuchMethodError: No virtual method setAmount(D)Lcom/payumoney/core/PayUmoneySdkInitializer$PaymentParam$Builder; in class Lcom/payumoney/core/PayUmoneySdkInitializer$PaymentParam$Builder; or its super classes (declaration of 'com.payumoney.core.PayUmoneySdkInitializer$PaymentParam$Builder' appears in /data/app/com.paymenttest-2/base.apk:classes2.dex)
        at superinfotech.suraj.reac

[2020-07-10 07:46] cybermaskssoftware commented on #37
java.lang.NoSuchMethodError: No virtual method setAmount(D)Lcom/payumoney/core/PayUmoneySdkInitializer$PaymentParam$Builder; in class Lcom/payumoney/core/PayUmoneySdkInitializer$PaymentParam$Builder; or its super classes (declaration of 'com.payumoney.core.PayUmoneySdkInitializer$PaymentParam$Builder' appears in /data/app/com.paymenttest-2/base.apk:classes2.dex)
        at superinfotech.suraj.reac

[2020-07-10 07:46] cybermaskssoftware commented on #37
java.lang.NoSuchMethodError: No virtual method setAmount(D)Lcom/payumoney/core/PayUmoneySdkInitializer$PaymentParam$Builder; in class Lcom/payumoney/core/PayUmoneySdkInitializer$PaymentParam$Builder; or its super classes (declaration of 'com.payumoney.core.PayUmoneySdkInitializer$PaymentParam$Builder' appears in /data/app/com.paymenttest-2/base.apk:classes2.dex)
        at superinfotech.suraj.reac

[2020-07-10 07:46] #37 closed

[2020-07-19 11:20] Suraj-Tiwari commented on #36
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:20] #36 closed

[2020-07-19 11:20] Suraj-Tiwari commented on #35
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:20] #35 closed

[2020-07-19 11:20] Suraj-Tiwari commented on #34
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:20] #34 closed

[2020-07-19 11:20] Suraj-Tiwari commented on #33
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:20] #33 closed

[2020-07-19 11:20] Suraj-Tiwari commented on #32
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:20] #32 closed

[2020-07-19 11:21] Suraj-Tiwari commented on #31
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:21] #31 closed

[2020-07-19 11:21] Suraj-Tiwari commented on #30
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:21] #30 closed

[2020-07-19 11:21] Suraj-Tiwari commented on #29
#38 version 1.0.0 released all known issue fixed

[2020-07-19 11:21] #29 closed

[2020-07-19 11:21] Suraj-Tiwari commented on #26
#38 version 1.0.0 released all known issue fixed. IOS support added

[2020-07-19 11:21] #26 closed

[2020-07-19 11:41] Suraj-Tiwari commented on #2
@cybermaskssoftware use latest release #38

[2020-07-31 18:01] musthafa8230 opened #39 "Issue in release build"
In debug build everything working fine but on release build it showing merchant I'd missing please help

[2020-07-31 18:03] Suraj-Tiwari commented on #39
Same credentials? or credentials were changed?

[2020-07-31 18:05] musthafa8230 commented on #39
Credentials are same didn't changed anything

[2020-07-31 18:07] musthafa8230 commented on #39
After releasing in play store it's opening like this but in debug mode with
same credentials it's redirected to payumoney

On Fri, 31 Jul, 2020, 11:35 PM musthafa musthu8230, <
musthafalucifer@gmail.com> wrote:

[2020-07-31 18:09] Suraj-Tiwari commented on #39
Okay I'll check it tomorrow.

[2020-07-31 18:10] musthafa8230 commented on #39
Ok thanks should we give isdebug true or false for release build

[2020-07-31 18:11] Suraj-Tiwari commented on #39
that's for credentials, so it should be irrelevant.

[2020-07-31 18:12] musthafa8230 commented on #39
Oh ok👍 I had given false

[2020-07-31 19:17] musthafa8230 commented on #39
2020-08-01 00:42:41.572 5822-5946/? E/AndroidRuntime: FATAL EXCEPTION: mqt_native_modules
    Process: com.xxxxx.app, PID: 5822
    java.lang.RuntimeException:  Merchant id missing
        at com.payumoney.core.d$a.<init>(SourceFile:124)
        at com.payumoney.core.d$a.<init>(SourceFile:108)
        at com.payumoney.core.d$a$a.aMP(SourceFile:427)
        at com.surajtiwari.reactnativepayumoney.R

[2020-08-02 07:55] Suraj-Tiwari commented on #39
check for minification in you android/app/build.gradle
This could be causing issue `def enableProguardInReleaseBuilds = false`

[2020-08-02 07:56] musthafa8230 commented on #39
What should I do remove this line or make it true,it's used to reduce the
apk size right

On Sun, 2 Aug, 2020, 1:25 PM Suraj Tiwari, <notifications@github.com> wrote:

[2020-08-02 07:56] Suraj-Tiwari commented on #39
To test just clone this repo then
`cd example/android`
`/gradlew assembleRelease`
Then install production release apk

[2020-08-02 07:57] Suraj-Tiwari commented on #39
make it false, app minifiacation is known to causing params issue

[2020-08-02 07:58] musthafa8230 commented on #39
Sure thanks let me check now

[2020-08-02 08:37] musthafa8230 commented on #39
Thanks it's working now

[2020-08-02 08:38] #39 closed

[2020-08-19 14:01] maheshshrigod opened #40 "How can I change theme of the inner screen"
When call the payment gateway is it possible to apply custom theme(for Android)

[2020-08-24 10:09] vgvishal538 opened #41 "tools:replace specified at line:14 for attribute android:usesCleartextTraffic, but no new value specified"
**tools:replace specified at line:14 for attribute android:usesCleartextTraffic, but no new value specified**

Hii suraj after installing the package by this command "npm i react-native-payumoney --save" i was just running the project by "npx react-native run-android" and it is showing this error it is suggesting to put "tools:replace="android:usesCleartextTraffic" under application tag that i did

[2020-08-24 10:14] #41 closed

[2020-08-26 16:56] maheshshrigod opened #42 "Get an event when the user manually cancels the transaction by pressing the back button before entering the card details"

[2020-09-12 17:41] Moumit commented on #42
Any reason closed the with out any comment or suggestion? Can you please reopen this one

[2020-09-12 20:53] Moumit opened #43 "Merchant Key missing in release mode"
Working fine in debug mode but getting below exception in release mode, same code

[code]

[2020-09-13 17:18] Moumit commented on #43
This is resolved by adding below line in progurd.rules .. please also add on documentation
[code]

[2020-09-13 17:51] Suraj-Tiwari commented on #43
thanks @Moumit, added in docs https://github.com/Suraj-Tiwari/react-native-payumoney/commit/18f8b571a6051df339342b4e2ff1a8a0968cba2e

[2020-09-13 17:58] #43 closed

[2020-09-30 12:05] girish54321 commented on #42
Yep we need this :-)

[2020-10-03 16:32] Suraj-Tiwari commented on #42
i'll try to push it by tomorrow

[2020-10-07 06:46] HarishJangra commented on #42
Hey @Suraj-Tiwari  did you find any solution to this problem? There is currently no way to get cancelled by user. Please help

[2020-11-05 08:53] codemonster91 commented on #42
Payumoney(payData).then((data) => {

        console.log(data)
    }).catch((e) => {
        console.log('error', e)
    })
Always return 0

[2020-11-07 17:06] Moumit opened #44 "IOS prod screen mode not opening"
//Below line is not working, it's always showing test card screen
`txnParam.environment = payuData[@"isDebug"]?PUMEnvironmentTest:PUMEnvironmentProduction;`

Passed parameter
[code]

not working

[2020-11-12 11:52] divyanshkhatri opened #45 "Payumoney issue"
Hii suraj after installing the package by this command "npm i react-native-payumoney --save" i was just running the project by "react-native run-android" and it is suggesting to put "tools:replace="android:usesCleartextTraffic" under application tag that i did but still getting same issue.

[2020-11-12 11:56] Suraj-Tiwari commented on #45
please share xml file

[2020-11-12 11:58] Suraj-Tiwari commented on #45
You can also match it from here
https://www.github.com/Suraj-Tiwari/react-native-payumoney/tree/master/example%2Fandroid%2Fapp%2Fsrc%2Fmain%2FAndroidManifest.xml

[2020-11-12 12:02] Suraj-Tiwari commented on #44
you tried removing condition and hardCoding it to? if yes was that effective?

`txnParam.environment = PUMEnvironmentProduction;`

[2020-11-12 13:06] divyanshkhatri commented on #45
That issue got solved thanks to you. But now, I am facing another issue.

This is my import statement.
import PayuMoney from 'react-native-payumoney';

This is my function where I call PayuMoney.

``onPressCheckout = () => {
        let options = {
            amount: 10.0,
            txid: "123123123" ,
            productId: "test",
            name: "Name",
            email: "test@gmail.com",

[2020-11-12 13:34] Suraj-Tiwari commented on #45
in readme check troubleshooting 'Edit android/app/proguard-rules.pro and add' section

[2020-11-30 14:29] Moumit commented on #44
Yes by hardcode i had to publish the app, that worked .. i think the trinary operator not working

[2020-11-30 14:49] Suraj-Tiwari commented on #44
okay I'll have a look at it thanks for your info.

[2021-01-22 12:47] MonMohon opened #46 "Failed to Build"
Attribute application@usesCleartextTraffic value=(true) from [:react-native-payumoney] AndroidManifest.xml:9:18-53
        is also present at [com.payu.custombrowser:payu-custom-browser:7.5.1] AndroidManifest.xml:17:18-54 value=(false).
        Suggestion: add 'tools:replace="android:usesCleartextTraffic"' to <application> element at AndroidManifest.xml:6:5-26:19 to override.

FAILURE: Build faile

[2021-01-22 13:36] Suraj-Tiwari commented on #46
As error gives you solution do this

Suggestion: add 'tools:replace="android:usesCleartextTraffic"' to
<application> element at AndroidManifest.xml

On Fri, 22 Jan, 2021, 6:17 pm Mon Mohon Singha, <notifications@github.com>
wrote:

[2021-01-22 14:36] MonMohon commented on #46
i did like this below but again error
![image](https://user-images.githubusercontent.com/304477/105504091-5d76bf80-5ced-11eb-9578-902af0b4df10.png)

[2021-01-22 14:39] Suraj-Tiwari commented on #46
Put that in application tag

On Fri, 22 Jan, 2021, 8:07 pm Mon Mohon Singha, <notifications@github.com>
wrote:

[2021-01-22 14:41] MonMohon commented on #46
The prefix "tools" for attribute "tools:replace" associated with an element type "manifest" is not bound.
![image](https://user-images.githubusercontent.com/304477/105504612-fb6a8a00-5ced-11eb-8811-7e40ebdd92c9.png)

please help

[2021-01-22 14:41] MonMohon commented on #46
ok will try

[2021-01-22 14:43] MonMohon commented on #46
i put in application tag generate error
![image](https://user-images.githubusercontent.com/304477/105504891-4be1e780-5cee-11eb-80cc-de71ad531e4a.png)

[2021-01-22 14:45] MonMohon commented on #46
The prefix "tools"
for attribute "tools:replace" associated with an element type "application" is not bound.

[2021-01-22 14:48] Suraj-Tiwari commented on #46
https://www.github.com/Suraj-Tiwari/react-native-payumoney/tree/master/example%2Fandroid%2Fapp%2Fsrc%2Fmain%2FAndroidManifest.xml

see this file for example

On Fri, 22 Jan, 2021, 8:15 pm Mon Mohon Singha, <notifications@github.com>
wrote:

[2021-01-22 15:05] MonMohon commented on #46
I follow your step mention above but produce another error
i don't know is this thing related to this package or not

* What went wrong:
Execution failed for task ':app:mergeDexDebug'.

     The number of method references in a .dex file cannot exceed 64K.
     Learn how to resolve this issue at https://developer.android.com/tools/building/multidex.html

[2021-01-24 22:12] MonMohon commented on #46
I removed this issue by adding the following lines

add multiDexEnabled true in android>app>build.gradle inside defaultConfig

add implementation 'com.android.support:multidex:1.0.3' in android>app>build.gradle inside dependencies

[2021-01-24 22:12] #46 closed

[2021-01-24 23:27] MonMohon opened #47 "bank code is empty"
![image](https://user-images.githubusercontent.com/304477/105647190-dcc0ea80-5ec9-11eb-909e-6739a23f911f.png)

[2021-01-26 13:45] #47 closed

[2021-01-26 13:47] MonMohon opened #48 "How to Display Organization Name while payment"
Yes, all fix except Organization Name.

It display incorrectly, Please tell me how to fix

[2021-01-26 14:16] MonMohon commented on #48
![WhatsApp Image 2021-01-26 at 7 43 25 PM](https://user-images.githubusercontent.com/304477/105856310-1cddb580-600f-11eb-9bd2-3068c51227fd.jpeg)

[2021-01-26 14:18] #48 closed

[2021-01-26 15:43] MonMohon opened #49 "UPI payment status failed"
I made payment via card success
I made payment via UPI status Failed where as in backend status complete

So, can I show message via successUrl or failedUrl
is it possible

Thank You

[2021-01-27 03:28] #49 closed

[2021-02-06 18:41] ibrupesh commented on #45
Unable to find explicit activity class{com.payumoney.sdkui.ui.activities.PayUmoneyActivity}; have you declared this activity in your AndroidManifest.xml?

[2021-02-08 07:11] dhavalgediya27 opened #50 "Ios into Not Working."
I am call the payumoney method in ios then my application is crashed.
My app Crash Log is.

Thread 0 name:  Dispatch queue: com.apple.main-thread
Thread 0 Crashed:
0   libsystem_kernel.dylib        	0x00000001ebe3b0dc 0x1ebe18000 + 143580
1   libsystem_pthread.dylib       	0x00000001ebeb4094 0x1ebeb2000 + 8340
2   libsystem_c.dylib             	0x00000001ebd93ea8 0x1ebd39000 + 372392
3   libc++abi

[2021-02-26 10:43] sivaLeo opened #51 "Need to add ? for Null Safe"
I'm getting error like
Type inference failed. Expected type mismatch: inferred type is ResultModel? but ResultModel was expected
Problem
   Inference
Solution
 Please add ? in

ex:
[code]

[2021-02-26 10:45] sivaLeo commented on #51
i know its temporary solution. Any other solution please mention me....

[2021-02-26 10:52] Suraj-Tiwari commented on #51
Maybe that's because underlying sdk update, I'll have a look at it

On Fri, 26 Feb, 2021, 4:15 pm Siva, <notifications@github.com> wrote:

[2021-02-27 10:46] MonMohon opened #52 "Build Error! Bro need your Help"
`Task :react-native-payumoney:compileDebugKotlin
w: F:\RNative\HindPhotostat\node_modules\react-native-payumoney\android\src\main\java\com\surajtiwari\reactnativepayumoney\PayumoneyActivity.kt: (50, 26): Parameter 'activity' is never used
w: F:\RNative\HindPhotostat\node_modules\react-native-payumoney\android\src\main\java\com\surajtiwari\reactnativepayumoney\PayumoneyActivity.kt: (54, 60): Type m

[2021-02-27 10:48] MonMohon commented on #52
all working just build warning

[2021-03-01 11:40] Suraj-Tiwari commented on #52
commit https://github.com/Suraj-Tiwari/react-native-payumoney/commit/5e0929a14edcbba2c372cb64fc3de7a65cdc1d82 solves this issue

[2021-03-01 11:40] #52 closed

[2021-04-03 21:23] mohamedali-inno commented on #47
Could u pls tell me. How this issue got solved. I am also getting the same issue. 'Bank code is empty" in android. In IOS invalid card details

[2021-04-13 14:25] MonMohon opened #53 "Need your help"
PayUMoney crash on apk

but it working fine on debug.
may I know how to fix the issue

[2021-04-14 06:00] MonMohon commented on #53
Edit android/app/proguard-rules.pro and add

-keep class com.surajtiwari.reactnativepayumoney.** { *; }

[2021-04-14 06:00] #53 closed

[2021-04-27 11:39] sivaLeo commented on #51
Hi @Suraj-Tiwari ,
I still got that problem. Each time I work with the node_modules folder within your package. Any updates ??

[2021-04-27 12:00] Suraj-Tiwari commented on #51
sorry the reason it had issue is, that file was created for testing and was removed, but i forgot to release,
lemme quickly do one,
actual fix is to delete that file altogether.

[2021-04-27 12:13] Suraj-Tiwari commented on #51
released version 1.0.1
reopen if issue exists

[2021-04-27 12:13] #51 closed

[2021-04-27 12:14] Suraj-Tiwari commented on #45
stale

[2021-04-27 12:14] #45 closed

[2021-04-27 12:17] Suraj-Tiwari commented on #50
by logs seems like networking issue, reopen if someone else facing same.

[2021-04-27 12:17] #50 closed

[2021-05-04 13:40] shrutiraoniit25 commented on #46
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processReleaseMainManifest'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

Deprecated Gradle features were used in this build, making it incompatible w

[2021-05-20 08:39] nawalorigin opened #54 "Android"
Prod screen is not openning in android

[2021-06-05 11:40] shrutiraoniit25 commented on #42
I tried your example code @Suraj-Tiwari  but even if I am getting data in the console its not setting payment status in payumoney and I not able to manually transact out from the payumoney

[2021-06-05 11:47] Suraj-Tiwari commented on #42
It's a callback system, so if you're getting in console log payment screen has been closed.
The only known issue is if User manually force closed the payment screen, it won't return any proper callback.

[2021-06-05 12:46] shrutiraoniit25 commented on #42
so what do you suggest me  to do return back

[2021-06-05 12:49] shrutiraoniit25 commented on #42
This is my code here .... @Suraj-Tiwari

import React, {Fragment,useState,useEffect} from 'react';
import {SafeAreaView, Text,View, StyleSheet, TouchableOpacity} from 'react-native';
import  CustomHeader from '../CustomHeader';
import PayuMoney from 'react-native-payumoney';
import AsyncStorage from '@react-native-community/async-storage';
import {Button } from 'react-native-paper';
import { useNa

[2021-06-20 11:13] Suraj-Tiwari commented on #54
Issue seems to be in your hash creation recheck it.
reopen if still facing.

[2021-06-20 11:13] #54 closed

[2021-06-20 11:13] Suraj-Tiwari commented on #44
Fixed is #55

[2021-06-20 11:13] #44 closed

[2021-06-20 11:15] Suraj-Tiwari commented on #42
From release 1.0.2 (#55 ) you'll get status code along with errors,
1 = success
-1 = gateway failure
0 = User cancelled

[2021-06-20 11:15] #42 closed

[2021-06-20 11:17] Suraj-Tiwari commented on #42
@shrutiraoniit25 check the example again, doesn't faced any issue like this in my testing. still i've updated gateway sdk to latest version.
If you're still facing email me at surajtiwari020@gmail.com

[2021-06-25 05:22] master-css opened #56 "I am facing build issue on Task :app:processDebugMainManifest FAILED"
E:\react-project\Epay>react-native run-android
info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
(node:2748) Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
Jetifier found 901 file(s) to forward-jetify. Using 4 workers...
inf

[2021-06-25 05:30] Suraj-Tiwari commented on #56
As error message says
Suggestion: add 'tools:replace="android:usesCleartextTraffic"' to element
at AndroidManifest.xml
To solve this issue.

On Fri, 25 Jun, 2021, 10:52 am master-css, ***@***.***> wrote:

[2021-06-25 05:34] master-css commented on #56
this is my manifest file
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.epay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="f

[2021-06-25 05:40] Suraj-Tiwari commented on #56
look at this file

https://github.com/Suraj-Tiwari/react-native-payumoney/blob/c366d8ce6db21ddf9c0f62ff95082a2659126cd2/example/android/app/src/main/AndroidManifest.xml#L8

[2021-06-25 05:50] master-css commented on #56
New Error

* What went wrong:
Execution failed for task ':app:generateDebugBuildConfig'.

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.epay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      tools:replace="android:usesCleartextTraffic"
      android:usesCleartextTraffic="true"
      android:name=".MainApplication"

[2021-06-25 05:58] Suraj-Tiwari commented on #56
check if this line exist on top of your file
https://github.com/Suraj-Tiwari/react-native-payumoney/blob/c366d8ce6db21ddf9c0f62ff95082a2659126cd2/example/android/app/src/main/AndroidManifest.xml#L2

[2021-06-25 06:13] master-css commented on #56
Thank you soo much, my issue was solved.... :)

[2021-06-25 06:19] #56 closed

[2021-07-04 10:23] master-css opened #57 "Not working with real merchant id, key and slat, getting error {"code": 0, "success": false}"
my real merchant id, key and slat was not working, it's show me error like **{"code": 0, "success": false}**
but when i use with test it's work perfectly

Please help me for this issue

[2021-07-05 10:55] Suraj-Tiwari commented on #57
I've tested with prod & dev credentials, it's working perfectly. Make sure
your hash generation is right.

On Sun, 4 Jul, 2021, 3:53 pm master-css, ***@***.***> wrote:

[2021-07-06 08:17] vinodk321 opened #58 "TypeError: undefined is not a function"
I am getting this message when I try the example. Am I missing any dependency?

[2021-07-06 10:10] #58 closed

[2021-07-07 11:50] master-css commented on #57
how to find key and slat from PayU dashboard ??

[2021-07-10 10:45] metizror commented on #57
Same Error

[2021-07-10 11:26] Suraj-Tiwari commented on #57
I can't help until i can regenerate the error. The creeds i have are
working perfectly. Please make a private repo with bug and give me access
@Suraj-Tiwari

On Sat, 10 Jul, 2021, 4:15 pm Metizsoft Solutions Private Limited, <
***@***.***> wrote:

[2021-08-26 16:46] Suraj-Tiwari commented on #57
closing due to inactivity.

[2021-09-03 10:29] krishna11124 opened #59 "Change Header Title"
How To Change Header Title In App

[2021-09-06 20:02] Suraj-Tiwari commented on #59
No that's not implemented.

[2021-09-06 20:02] #59 closed

[2021-09-25 14:36] swaroopaillinda opened #60 "key is not valid"
hi I am using this for doing payumoney in  my react native applications

` const payData = {
             amount: '1.0',//data.amount.toString(),
             txnId: data.txnid,
             productName: data.productinfo,
             firstName: data.firstname ? data.firstName : "Sample",
            email: data.email,
            phone: data.phone,
            merchantId: '<myid>',
            ke

[2021-09-27 12:40] swaroopaillinda commented on #57
@Suraj-Tiwari  I am alos getting same error

my hash generation in server side is as follows :

`
[code]
the test credentials are working fine but these are not working

[2021-10-09 09:41] Suraj-Tiwari commented on #57
make sure to validate your hash with provided hashing function.

[2021-11-11 12:27] ap9086013 opened #61 "Build Fail"
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://repo.maven.apache.org/maven2/com/payumoney/sdkui/plug-n-play/1.6.1/plug-n-play-1.6.1.pom
       - file:/C:/Users/Ankur/.m2/repository/com/payumoney/sdkui/plug-n-play/1.6.1/plug-n-play-1.6.1.pom
       - file:/I:/SoftGrid/Re

[2021-12-14 13:29] LalitDWS opened #62 "Could not resolve com.payumoney.sdkui:plug-n-play:1.6.1"
Greetings I am getting this error when running the project in android after installing react-native-payumpney, can you please help.
<img width="1728" alt="Screenshot 2021-12-14 at 6 58 53 PM" src="https://user-images.githubusercontent.com/87010360/146007394-b27cb3de-ce07-4172-b7d0-b7b552d83b3e.png">
.

[2021-12-20 10:41] ap9086013 commented on #62
Same problem

[2021-12-20 11:00] Suraj-Tiwari commented on #62
okay. thanks for report, I'll have a look.

On Mon, 20 Dec, 2021, 4:12 pm Dushyant patel, ***@***.***>
wrote:

[2022-01-07 11:45] Suraj-Tiwari commented on #62
https://github.com/Suraj-Tiwari/react-native-payumoney/blob/c366d8ce6db21ddf9c0f62ff95082a2659126cd2/example/android/build.gradle#L35

add `jcenter()` in your android/build.gradle like that

[2022-01-07 11:45] #62 closed

[2022-01-07 11:45] Suraj-Tiwari commented on #61
https://github.com/Suraj-Tiwari/react-native-payumoney/blob/c366d8ce6db21ddf9c0f62ff95082a2659126cd2/example/android/build.gradle#L35

add `jcenter()` in your android/build.gradle like that

[2022-01-07 11:45] #61 closed

[2022-01-07 11:46] Suraj-Tiwari commented on #60
please test with testing keys first if issue remains open this issue again

[2022-01-07 11:46] #60 closed

[2022-02-20 15:18] subhamchatterjee opened #63 "Payment Gateway screen closes with "some error occured" message"
After I click on pay and the **Payumoney** function is called, the payment gateway screen opens, but after showing a loader with "**Getting payment details**" and trying to show the data, it fails after some time.

The logs that I am getting are as follows:

**With the dummy data you gave in the example:**
`{"amount": "10.0", "email": "xyz@gmail.com", "failedUrl": "https://www.payumoney.com/mobile

[2022-02-22 12:18] gurpreetpuri commented on #63
I have got same issue.
when call the payment function its return this response:- {"code": 0, "success": false}

[2022-04-20 13:25] hirenpatel20283 commented on #63
{"success":false,"code":0} getting same issue

[2022-04-20 13:27] lalit-suthar-dev commented on #63
i am facing same issue {"success":false,"code":0} not getting it after many tries it still showing the same error again and again

[2022-04-25 01:36] Suraj-Tiwari commented on #63
i've identified the issue and work is in progress, i'll create a release soon.

[2022-05-16 09:42] sujanvaland commented on #63
Hello Suraj,

Any Update on this issue?

[2022-05-19 06:32] Suraj-Tiwari commented on #63
I'm working on a new release, it's a full rewrite because of their new sdk and payumoney isn't helping at all their test cards doesn't work and payment gets failed, i wrote them email twice but they're ignorant, so i've to figure things out myself and work on assumptions, easiest could be if any of you've active account, i can make small real payments on them to test payment flow and send me amoun

[2022-06-24 15:54] mptechjolly commented on #63
Hello Suraj,

Any update on this issue? please let me know if you found any solution for below error.
payment function its return this response:- {"code": 0, "success": false}

[2022-06-25 07:03] Suraj-Tiwari commented on #63
Unfortunately i did try with no success, payumoney released new sdk discontinuing currently used one by this package, i tried integrating but with no success because of improper test env credentials provided from their side, i can't test it, all i was able to do was invoke the sdk and start the payment flow till here
<img width="439" alt="Screenshot 2022-06-25 at 12 24 39 PM" src="https://user-ima

[2022-06-25 07:08] Suraj-Tiwari commented on #63
Looks like they've official sdk now [https://devguide.payu.in/mobile-sdk-react-native/getting-started-with-react-native-app/](https://devguide.payu.in/mobile-sdk-react-native/getting-started-with-react-native-app/)

[2022-10-15 16:09] #63 closed